body{
    background-image: url("./");
    background-color: bisque;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
#gari {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
  }
  .navbar-default {
    background-color: darkcyan;
    border-color: #E7E7E7;
  }
  .navbar-brand{
    color:black;
  }
  